@import "./src/variables.scss";

.card-container {
  font-family: "Open sans", sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 4px $card-box-shadow;
  font-size: 14px;
  width: fit-content;
  width: 275px;
  height: 100%;
  margin-right: 15px;

  .header-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    .title {
      font-weight: 700;
      line-height: 16.41px;
      color: $ailos-black;
    }
  }
}
