<div class="page-content">
    <app-documents-digitalization></app-documents-digitalization>
    <app-account-owner-form></app-account-owner-form>
    <app-client-address-form></app-client-address-form>
    <app-client-earnings-form></app-client-earnings-form>
    <app-client-legally-responsible-form></app-client-legally-responsible-form>
    <app-client-attorney-form></app-client-attorney-form>
    <app-account-info></app-account-info>
    <app-account-security-form></app-account-security-form>
    <app-docs-signatures></app-docs-signatures>
    <app-progress-bar [progress]="32"></app-progress-bar>
</div>