<div class="form-container">
    <div class="form-header">
        <H4>Informações do representante legal</H4>
        <span class="secondary">Insira as informações cadastrais do representante legal do novo cooperado ou
            cooperada.</span>
    </div>

    <span class="bold uppercase">documentos</span>

    <div class="row">
        <form>
            <div class="row">
                <div class="col-md-3 input-container">
                    <label>CPF</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Situação do CPF</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Data de consulta do CPF</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">

                </div>

                <div class="col-md-3 input-container">
                    <label>Documento de identidade</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Número do documento </label>
                    <input type="text">
                </div>

                <div class="col-md-2 input-container">
                    <label>Órgão emissor </label>
                    <select>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>

                <div class="col-md-1 input-container">
                    <label>UF</label>
                    <select>
                        <option value="1">SC</option>
                        <option value="2">PR</option>
                        <option value="3">RS</option>
                    </select>
                </div>

                <div class="col-md-3 input-container">
                    <label>Data de emissão</label>
                    <input type="text">
                </div>

                <hr>

                <span class="bold uppercase">dados pessoais</span>

                <div class="col-md-6 input-container">
                    <label>Nome completo</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Data de nascimento</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Relacionamento com o titular</label>
                    <select>
                        <option value="1">Option A</option>
                        <option value="2">Option B</option>
                        <option value="3">Option C</option>
                    </select>
                </div>

                <div class="col-md-3 input-container">
                    <label>Estado civil</label>
                    <select>
                        <option value="1">Option A</option>
                        <option value="2">Option B</option>
                        <option value="3">Option C</option>
                    </select>
                </div>


                <div class="col-md-3 input-container">
                    <label>Pessoa com deficiência</label>
                    <select>
                        <option value="1">Option A</option>
                        <option value="2">Option B</option>
                        <option value="3">Option C</option>
                    </select>
                </div>

                <div class="col-md-3 input-container">
                    <label>Necessidade</label>
                    <select>
                        <option value="1">Option A</option>
                        <option value="2">Option B</option>
                        <option value="3">Option C</option>
                    </select>
                </div>

                <div class="col-md-3 input-container">
                    <label>Sexo</label>

                    <div class="radio-container">
                        <div class="radio-item">
                            <input type="radio" name="sexo" value="1">
                            <label>Masculino</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" name="sexo" value="2">
                            <label>Feminino</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 input-container">
                    <label>Tipo de nacionalidade</label>
                    <select>
                        <option value="1">Option A</option>
                        <option value="2">Option B</option>
                        <option value="3">Option C</option>
                    </select>
                </div>

                <div class="col-md-3 input-container">
                    <label>Nacionalidade</label>
                    <select>
                        <option value="1">Option A</option>
                        <option value="2">Option B</option>
                        <option value="3">Option C</option>
                    </select>
                </div>

                <div class="col-md-3 input-container">
                    <label>Naturalidade</label>
                    <input type="text">
                </div>

                <div class="col-md-6 input-container">
                    <label>Nome da mãe</label>
                    <input type="text">
                </div>

                <div class="col-md-6 input-container">
                    <label>Nome do pai</label>
                    <input type="text">
                </div>

                <hr>

                <span class="bold uppercase">endereco</span>

                <div class="col-md-3 input-container">
                    <label>CEP</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>UF</label>
                    <select>
                        <option value="1">Option A</option>
                        <option value="2">Option B</option>
                        <option value="3">Option C</option>
                    </select>
                </div>

                <div class="col-md-3 input-container">
                    <label>Cidade</label>
                    <select>
                        <option value="1">Option A</option>
                        <option value="2">Option B</option>
                        <option value="3">Option C</option>
                    </select>
                </div>

                <div class="col-md-3 input-container">
                    <label>Bairro</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Logradouro</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Número</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Complemento</label>
                    <input type="text">
                </div>

                <hr>


                <span class="bold uppercase">contato</span>

                <div class="col-md-3 input-container">
                    <label>Telefone</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Tipo</label>
                    <select>
                        <option value="1">Option A</option>
                        <option value="2">Option B</option>
                        <option value="3">Option C</option>
                    </select>
                </div>

                <div class="col-md-6 input-container">
                    <label>E-mail<span class="secondary">(opcional)</span></label>
                    <input type="text">
                </div>

            </div>
        </form>
    </div>
</div>

<footer>
    <button class="btn-primary btn-medium">Próximo</button>
    <button class="btn-secondary btn-medium">Ações</button>
    <button class="btn-tertiary btn-medium">Voltar</button>
</footer>