@import "./src/variables.scss";

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;

  label {
    font-size: 14px;
    font-weight: 600;
    color: $ailos-black;
    line-height: 16.41px;
  }

  .input-container {
    display: flex;
    margin-top: 8px;

    input {
      width: 100%;
      height: 34px;
      padding: 9px 12px 9px 8px;
      border: 1px solid $input-border;
      border-radius: 2px;
      font-size: 16px;
    }

    input:focus {
      outline: none;
    }

    input::placeholder {
      font-size: 16px;
      color: $input-border;
    }

    mat-icon {
      margin: auto;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
