<div class="page-content">

    <!-- <mat-horizontal-stepper #stepper linear labelPosition="bottom" [animationDuration]="'0'">

        <mat-step label="Início" [editable]="false">
            <app-documents-digitalization></app-documents-digitalization>
        </mat-step>

        <mat-step label="Documentos" [editable]="false">
            <app-account-owner-form></app-account-owner-form>
        </mat-step>

        <mat-step label="Dados cadastrais" [editable]="false">
            <app-client-address-form></app-client-address-form>
            <app-client-earnings-form></app-client-earnings-form>
            <app-client-legally-responsible-form></app-client-legally-responsible-form>
            <app-client-attorney-form></app-client-attorney-form>
        </mat-step>

        <mat-step label="Admissão" [editable]="false">
            <app-account-info></app-account-info>
            <app-account-security-form></app-account-security-form>
            <app-docs-signatures></app-docs-signatures>
        </mat-step>

    </mat-horizontal-stepper> -->


    <app-new-client-identification></app-new-client-identification>


</div>



<!-- <app-side-info-block [isShowInfoBlock]="isShowInfoBlock">
    <h1>Checklist para <br>abertura da conta</h1>
    <p>Confira algumas dicas que irão lhe ajudar neste atendimento para que a admissão
        aconteça da melhor forma possível.
    </p>

    <app-checkbox [label]="'Conheça seu cooperado'" (onCheckboxChange)="changeExtraInfo($event)"></app-checkbox>
    <div class="extra-info" *ngIf="isShowExtraInfo">
        <ul>
            <li>O que traz você até a cooperativa?</li>
            <li>O que é mais importante na sua vida?</li>
            <li>Você tem algum sonho?</li>
        </ul>
    </div>
    <app-checkbox [label]="'Fale sobre a cooperativa'"></app-checkbox>
    <app-checkbox [label]="'Documentos e comprovações necessárias'"></app-checkbox>

    <button class="btn-secondary btn-medium btn-hide-info-block" (click)="hideInfoBlock()">Continuar
        atendimento</button>
</app-side-info-block> -->