.upload-area {
  margin: 15px -15px;
  display: flex;
  flex-wrap: wrap;
}

app-side-info-block {
  h1 {
    margin-top: 30%;
    font-weight: 400;
    font-size: 24px;
  }

  p {
    margin-top: 30px;
    font-weight: 400;
    text-align: justify;
  }

  .extra-info {
    ul {
      margin: 10px 25px;
      list-style: inside;
      font-size: 13px;

      li {
        margin-top: 10px;
      }
    }
  }

  .btn-hide-info-block {
    margin: auto auto 0 auto;
  }
}
