@import "./src/variables.scss";

.upload-container {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  min-width: 300px;
  width: min-content;
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: 1px 1px 1px $box-shadow;
  height: 270px;

  input {
    display: none;
  }

  * {
    transition: none;
  }

  .file-description {
    font-size: 18px;
  }

  .necessary-info {
    color: $ailos-orange;
    font-size: 13px;
  }

  .no-necessary {
    color: $grey-4;
  }

  .drop-area {
    height: 150px;
    margin-top: 15px;
    color: $grey-4;
    width: 100%;
    border: 1px dashed $grey-4;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .upload-items {
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    mat-icon {
      font-size: 60px;
    }

    label {
      margin-top: 15px;
      text-align: center;
      font-size: 18px;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .drop-area:hover {
    color: $ailos-light-blue;
    border-color: $ailos-light-blue;
  }
}
