<div class="upload-container">
    <input #fileInput type="file" accept=".jpeg, .jpg" (change)="handleFileChange($event)">
    <label class="file-description">{{ fileDescription }}</label>
    <span class="necessary-info" [class.no-necessary]="!isNecessary">{{ isNecessary ? 'Obrigatório' : 'Opcional'
        }}</span>

    <div (click)="confirmDocumentType()" class="drop-area">
        <img *ngIf="imgUploadedSrc !== ''" src="{{ imgUploadedSrc }}">
        <div class="upload-items" *ngIf="imgUploadedSrc == ''">
            <mat-icon fontIcon="cloud_upload"></mat-icon>
            <label>Clique aqui ou arraste o seu arquivo</label>
        </div>
    </div>
</div>