@import "./src/variables.scss";

.progress-bar-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .infos {
    display: flex;
    justify-content: space-between;
  }

  .progress-bar {
    margin-top: 5px;
    height: 20px;
    width: 100%;
    display: block;
    background-color: $grey-1;

    .progress {
      height: 100%;
      display: block;
      background-color: $ailos-blue;
    }
  }
}
