/* COLORS */

$ailos-blue: #165c7d;
$ailos-blue-120: #013f5c;
$ailos-blue-140: #012f44;
$ailos-blue-40: #a2becb;
$ailos-blue-60: #739db1;
$ailos-mid-blue: #007d8a;
$ailos-light-blue: #009ed0;

$page-background: #e8eff2;

$ailos-orange: #ffa300;

$ailos-black: #040f14;

$grey-1: #e7eef1;
$grey-2: #c6ced1;
$grey-4: #889499;

$box-shadow: rgba(0, 0, 0, 0.1);
$card-box-shadow: rgba(0, 0, 0, 0.25);
$input-border: #c4c4c4;

/*VARIABLES*/
$menu-width: 100px;
$header-height: 70px;
$footer-height: 75px;
$application-content-padding: 30px;
