@import "./src/variables.scss";

hr {
  margin-top: 30px;
  margin-bottom: 40px;
  border-color: $ailos-blue-60;
}

form {
  margin-top: 20px;
}

.form-header {
  margin-top: 25px;
  margin-bottom: 10px;
}

.client-picutre-container {
  display: flex;
  flex-direction: column;

  img {
    display: inline-block;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px auto;
  }

  .hide-img {
    visibility: hidden;
  }

  button {
    margin: 15px auto;
  }
}
