<div class="form-container">
    <div class="form-header">
        <H4>Endereço e contatos do cooperado</H4>
        <span class="secondary">Confirme as informações obtidas para o cadastro e atualize os dados se necessário.</span>
    </div>

    <span class="bold uppercase">endereço</span>

    <div class="row">
        <form>
            <div class="row no-margin no-padding">
                <div class="col-md-3 input-container">
                    <label>CEP</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>UF</label>
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </div>

                <div class="col-md-3 input-container">
                    <label>Cidade</label>
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </div>

                <div class="col-md-3 input-container">
                    <label>Bairro</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Logradouro</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Numero</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Complemento</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Tipo de residencia</label>
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </div>

                <hr>

                <span class="bold">CONTATOS</span>

                <div class="col-md-3 input-container">
                    <label>Complemento</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Complemento</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>O número possui WhatsApp?</label>

                    <div class="radio-container">
                        <div class="radio-item">
                            <input type="radio" name="isWhatsApp" value="1">
                            <label>Sim</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" name="isWhatsApp" value="0">
                            <label>Não</label>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 input-container">


                </div>

                <div class="col-md-3 input-container">
                    <label>Complemento</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Complemento</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container">
                    <label>Complemento</label>
                    <input type="text">
                </div>

                <div class="col-md-3 input-container content-bottom">
                    <button class="btn-tertiary btn-small">Excluir número</button>
                </div>

                <div class="col-md-12 input-container">
                    <button class="btn-secondary btn-small no-margin">Adicionar novo telefone</button>
                </div>

                <div class="col-md-6 input-container">
                    <label>Complemento</label>
                    <input type="text">
                </div>

                <div class="col-md-6 input-container">
                </div>


                <div class="col-md-3 input-container">
                    <label>Complemento</label>
                    <input type="text">
                </div>

                <div class="col-md-6 input-container">
                    <label>Cooperado aceita contato para comunicação institucional e promocional?</label>

                    <div class="radio-container">
                        <div class="radio-item">
                            <input type="radio" name="isWhatsApp" value="1">
                            <label>Sim</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" name="isWhatsApp" value="0">
                            <label>Não</label>
                        </div>
                    </div>

                </div>


            </div>

        </form>
    </div>

</div>